@import '_definitions';

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .wrap {
    @include container-box();
    width: 402px;
    padding: 30px 35px;
    background-color: $color-white;

    h1 {
      font-weight: 400;
      margin-bottom: 15px;
    }

    nav {
      text-align: right;
      margin-top: 7px;
      font-size: 12px;
      color: $color-gray-500;

      a + .seperate-bar {
        margin: {
          left: 5px;
          right: 5px;
        }
      }
    }
  }
}
