doctype html
html
    head
        meta(charset='UTF-8')
        script(type="module", src="/static/dist/bundle.js")
        link(rel='stylesheet' href='/static/dist/main.css')
        
        title 메인페이지
    body
        include ./DeleteCardModal.pug
        include ./EditCardModal.pug
        include ./EditColumnModal.pug
