/* colors */
$color-black: #222222;
$color-white: #ffffff;

$color-blue: #0366d6;
$color-green: #2ea44f;
$color-light-green: #94d3a2;

$color-danger: #cc0000;

// cancel btn background,
$color-gray-100: #fafbfc;

// column background,
$color-gray-200: #eff1f3;

// column border
$color-gray-300: #e1e4e8;

// card count background
$color-gray-400: rgba(209, 213, 218, 0.5);

// card opened by
$color-gray-500: #586069;

// card count, activity created at, activity text
$color-gray-700: #6a737d;

// column title, card user name, activity strong
$color-gray-900: #24292e;

/* sizes */
$width-column: 350px;
$width-sidebar: 360px;
$width-modal: 450px;
$height-nav: 60px;

/* fonts */
$font-main: '-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji';
