/* fonts */
$font-main: 'Noto Sans KR';

/* colors */
$color-white: #ffffff;
$color-gray-100: #f9f9f9;
$color-gray-150: #eeeeee;
$color-gray-200: #d6d6d6;
$color-gray-400: #a8a8a8;
$color-gray-500: #8a8a8a;
$color-gray-600: #787878;
$color-gray-800: #4a4a4a;
$color-black: #1f1f1f;

$color-main: #fe9c8f;
$color-sub-main: #feb2a8;
$color-pink: #fec8c1;
$color-beige: #f9caa7;
$color-light-beige: #ffe3d0;
$color-complementary: #0bb6a5;
$color-red: #ff5555;
$color-blue: #5555ff;

/* size */
$width-container: 800px;
$height-main: 45px;
$width-modal: 500px;
$height-modal: 600px;
