@use 'definitions' as *;

@mixin center($direction: column) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

@mixin calendar-cell() {
  $L-border: 1px solid $color-beige;
  $L-border-radius: 5px;

  border: {
    bottom: $L-border;
    left: $L-border;
  }
  padding: 10px;

  @for $i from 1 through 49 {
    @if $i ==1 {
      &:nth-child(#{$i}) {
        border-radius: $L-border-radius 0 0 0;
      }
    }

    @if $i == 7 {
      &:nth-child(#{$i}) {
        border-radius: 0 $L-border-radius 0 0;
      }
    }

    @if $i == 43 {
      &:nth-child(#{$i}) {
        border-radius: 0 0 0 $L-border-radius;
      }
    }

    @if $i == 49 {
      &:nth-child(#{$i}) {
        border-radius: 0 0 $L-border-radius 0;
      }
    }

    @if $i % 7 == 1 {
      &:nth-child(#{$i}) {
        .date,
        .day {
          color: $color-red;
        }
      }
    }

    @if $i % 7 == 0 {
      &:nth-child(#{$i}) {
        border-right: $L-border;

        .date,
        .day {
          color: $color-blue;
        }
      }
    }

    @if $i <= 7 {
      &:nth-child(#{$i}) {
        border-top: $L-border;
      }
    }
  }
}
