doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/static/stylesheets/css/main.css')
  link(rel='stylesheet' href='/static/stylesheets/css/reset.css')
  link(rel='stylesheet' href='/static/stylesheets/css/base.css')
  title 배민사장님광장
main.main
  section.wrap
    h1 사장님, 로그인해주세요!
    button.woowa-btn(type='button') 배민사장님광장 로그인
    nav
      a(href='https://www.youtube.com/channel/UC-mOekGSesms0agFntnQang') 아이디 / 비밀번호 찾기
      span.seperate-bar |
      a(href='/join') 회원가입
script(type='module' src='/static/javascripts/pages/MainPage.js')